body {
    background: rgba(22, 20, 22, 1);
    overflow: hidden;
}

.wave {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 20vh;
    animation: wave 20s linear infinite;
    transform: translate3d(0, 0, 0);
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 1;
    transition: background-color 2s ease, bottom 0.5s ease-in-out;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 10s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 22s linear infinite;
    opacity: 0.6;
}

@keyframes wave {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-50%);
    }
    100% {
      transform: translateX(0);
  }
}

#navbar{
  border-radius: 0 20px 20px 0;
  left: 0; 
}

#connect {
  border-radius:  20px 0 0 20px; 
  right: 0;
}

/* Navbar container on the left */
#navbar, #connect {
  background-color: #333; 
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  height: 30vh; 
  top: 50%; 
  transform: translateY(-50%);
  width: 65px; 
  transition: width 0.3s ease; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  z-index: 1; 
}

/* Navbar links */
#navbar li, #connect li {
  position: relative;
  width: 100%;
  margin: 10px 0; /* Vertical spacing between items */
}

/* Navbar icon and link styles */
#navbar li a, #connect li a {
  display: flex; /* Flexbox for icon and text */
  align-items: center; /* Align vertically */
  justify-content: center; /* Align horizontally */
  color: #f2f2f2;
  text-decoration: none;
  font-size: 1.2em;
  height: 60px;
  transition: background-color 0.3s ease;
  position: relative;
}

/* Hiding the text initially */
.nav-text {
  position: absolute;
  white-space: nowrap; /* Prevent line breaks in the text */
  opacity: 0; /* Initially hidden */
  transition: opacity 0.4s ease, transform 0.4s ease; /* Smooth appearance */
  transform: translateX(-20px); /* Text positioned behind navbar */
  z-index: 0;
}

/* Show text on hover */
#navbar li:hover .nav-text {
  opacity: 1; /* Show the text */
  transform: translateX(80px); /* Slide the text out to the right */
}

/* Icon styles */
.icon {
  font-size: 1.5em;
}

/* For small screens */
@media screen and (max-width: 600px) {
  #navbar {
    width: 100%;
    height: auto;
    position: relative;
    justify-content: flex-start;
  }

  #navbar li {
    float: none;
  }

  #navbar li a {
    text-align: left;
  }
}
