body {
    background: rgba(22, 20, 22, 1);
    overflow-x: hidden;
}

.wave {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 20vh;
    animation: wave 20s linear infinite;
    transform: translate3d(0, 0, 0);
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 1;
    transition: background-color 2s ease, bottom 0.5s ease-in-out;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 10s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 22s linear infinite;
    opacity: 0.6;
}

@keyframes wave {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-50%);
    }
    100% {
      transform: translateX(0);
  }
}

#navbar{
  border-radius: 0 20px 20px 0;
  left: 0; 
}

#connect {
  border-radius:  20px 0 0 20px; 
  right: 0;
}

#navbar, #connect {
  background-color: #333; 
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  height: 30vh; 
  top: 50%; 
  transform: translateY(-50%);
  width: 3%; 
  transition: width 0.3s ease; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  z-index: 1; 
}

#navbar li, #connect li {
  position: relative;
  width: 100%;
  margin: 10px 0;
}

#navbar li a, #connect li a {
  display: flex; 
  align-items: center;
  justify-content: center;
  color: #f2f2f2;
  text-decoration: none;
  font-size: 1.2em;
  height: 60px;
  transition: background-color 0.3s ease;
  position: relative;
}

#navbar li button, #connect li button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f2f2f2;
  background-color: transparent;
  border: none;
  font-size: 1.2em;
  height: 60px;
  transition: background-color 0.3s ease;
  position: relative;
  margin: auto;
}

.nav-text {
  position: absolute;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.4s ease, transform 0.4s ease;
  transform: translateX(-20px);
  z-index: 0;
}

#navbar li:hover .nav-text {
  opacity: 1;
  transform: translateX(80px);
}

.icon {
  font-size: 1.5em;
}

/* For small screens */
@media screen and (max-width: 600px) {
  #navbar {
    width: 100%;
    height: auto;
    position: relative;
    justify-content: flex-start;
  }

  #navbar li {
    float: none;
  }

  #navbar li a {
    text-align: left;
  }
}







#slider-section {
  padding: 50px 0;
  background-color: transparent;
  text-align: center;
}

.slider-title {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 20px;
}

.slick-prev, .slick-next {
  z-index: 1;
  font-size: 2rem;
  color: #fff;
}

.slide-item {
  position: relative;
  padding: 10px;
}

.testimonial-text {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 20px;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
}

.author-name {
  font-size: 1.2rem;
  color: #fff;
  font-style: italic;
}

.slick-dots li button:before {
  color: #fff;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #fff;
}

/* Адаптивность */
@media screen and (max-width: 600px) {
  .testimonial-text {
    font-size: 1.2rem;
  }

  .author-name {
    font-size: 1rem;
  }
}








#projects {
  padding: 20px;

  max-width: 1400px;
  margin: auto;
}

#projects-title {
  margin-bottom: 20px;
  font-size: 24px;
  color: #FFA500;
  text-align: center;
}

#search-pagination-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

#search-input {
  padding: 10px;
  width: 100%;
  max-width: 400px;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-size: larger;
  border-radius: 4px;
  background-color: transparent;
}

#pagination-buttons {
  display: flex;
  gap: 5px;
}

#pagination-buttons button {
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  border: 2px solid #45b845;
  background-color: transparent;
  color: #45b845;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#pagination-buttons button:hover {
  background-color: #45b845;
  color: white;
}

#projects-table {
  width: 100%;
  border-collapse: collapse;
}

#projects-table th, #projects-table td {
  padding: 10px;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
}

#projects-table th {
  width: 350px;
  background-color: #B0B0B0;
  color: #000000;
}

#projects-table th:first-child {
  border-radius: 50px 0 0 0;
}

#projects-table th:last-child {
  border-radius: 0 50px 0 0;
  border: 0;
}

#projects-table tr:nth-child(even) {
  background-color: #d378a6;
}
#projects-table tr:nth-child(odd) {
  background-color: #000000;
}

#projects-table td {
  border-bottom: 3px solid #FFD700;
}
